flows.json
[
    {
        "id": "c0cb3cf241673b85",
        "type": "tab",
        "label": "Flow Smart Home Security",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd0197edee90bca8",
        "type": "mqtt in",
        "z": "c0cb3cf241673b85",
        "name": "mqtt in data",
        "topic": "univaq/gas",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e4607b3015ab0b1e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "e2ee1069b5aaf6b5",
                "d1a8cd40d3515dc1",
                "a03db7a74f11eab6"
            ]
        ]
    },
    {
        "id": "d073e6860ab47589",
        "type": "debug",
        "z": "c0cb3cf241673b85",
        "name": "debug TelegramBot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 500,
        "wires": []
    },
    {
        "id": "e2ee1069b5aaf6b5",
        "type": "function",
        "z": "c0cb3cf241673b85",
        "name": "TelegramBot function",
        "func": "var temperature = msg.payload.temperature;\nvar humidity = msg.payload.humidity;\nvar tank_capacity = msg.payload.tank_capacity;\nvar gas_level = msg.payload.gas_level;\n\nmsg.payload = {\n    \"chatId\": '-1002138906310',\n    \"type\": 'message',\n    \"content\": \"Sensor Readings:\\nTemperature: \" + temperature + \"°C\\nHumidity: \" + humidity + \"%\\nTank Capacity: \" + tank_capacity + \"\\nGas Level: \" + gas_level + \"%.\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 360,
        "wires": [
            [
                "7830a209aa524d48",
                "d073e6860ab47589"
            ]
        ]
    },
    {
        "id": "6de62b7bfadcd4d1",
        "type": "influxdb out",
        "z": "c0cb3cf241673b85",
        "influxdb": "008c76b0492d489c",
        "name": "",
        "measurement": "environment",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "A&R",
        "bucket": "SHS",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "d1a8cd40d3515dc1",
        "type": "function",
        "z": "c0cb3cf241673b85",
        "name": "InfluxDB function",
        "func": "var data = (typeof msg.payload === 'object') ? msg.payload : JSON.parse(msg.payload);\n\nmsg.payload = {\n    measurement: \"environment\",\n    fields: {\n        temperature: data.temperature,\n        humidity: data.humidity,\n        tank_capacity: data.tank_capacity,\n        gas_level: data.gas_level\n    },\n    timestamp: new Date().toISOString() // Convert to ISO string format\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "5ae320d6f87ea030",
                "6de62b7bfadcd4d1"
            ]
        ]
    },
    {
        "id": "5ae320d6f87ea030",
        "type": "debug",
        "z": "c0cb3cf241673b85",
        "name": "debug influxDB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "7830a209aa524d48",
        "type": "telegram sender",
        "z": "c0cb3cf241673b85",
        "name": "",
        "bot": "0cfab35f560bdd6d",
        "haserroroutput": true,
        "outputs": 2,
        "x": 850,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a03db7a74f11eab6",
        "type": "debug",
        "z": "c0cb3cf241673b85",
        "name": "debug in data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 140,
        "wires": []
    },
    {
        "id": "e4607b3015ab0b1e",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "008c76b0492d489c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "",
        "name": "Influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": true
    },
    {
        "id": "0cfab35f560bdd6d",
        "type": "telegram bot",
        "botname": "smartfan_univaq_Bot",
        "usernames": "",
        "chatids": "-1002138906310",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]